<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Verification OTP</title>
</head>
<body style="margin:0; padding:0;">

<table align="center" border="0" cellspacing="0" cellpadding="0"
       style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif; font-size:12px;" width="100%">
    <tbody>
    <tr>
        <td align="center">
            <center style="background-color:#ececec;padding:0;margin:0 auto;font-weight:200;">
                <table width="512" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"
                       style="margin:0 auto; max-width:512px;">
                    <tbody>
                    <tr>
                        {#                        <td height="55" align="center" style="padding:5px 25px; background:#F3F3F3;"><img#}
                        {#                                    src="http://SMAS.co.in/images/SMAS/SMAS_black.svg"#}
                        {#                                    alt="SMAS.co.in"/></td>#}
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#0aacf9" style="padding:15px 10px;">
                            <h1 style="padding:0;margin:0;color:#ffffff;font-weight:500;font-size:20px;line-height:24px">
                                Verification OTP</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="padding:10px 25px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td><strong>Hi {{ name }},</strong></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Welcome to <strong><a href="//SMAS.co.in"
                                                              style="text-decoration:none; color:#099adf; ">SMAS</a></strong>.
                                        Your OTP:
                                    </td>
                                </tr>
                                <tr>
                                    <td height="31">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="width:100px;text-decoration:none; color:#fff; font-size:16px; background:#86c10d; padding:10px 30px; border-radius:2px">
                                            {{ otp }}
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>OTP is valid for {{ time_validity }} minutes</td>
                                </tr>
                                <tr>
                                    <td height="24">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>If you have not signed up for
                                        <strong> <a href="//SMAS.co.in/home/register"
                                                    style="text-decoration:none; color:#099adf;">SMAS.co.in</a></strong>,
                                        please ignore this mail.
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="53%" align="center" style=" font-size:14px;"><strong>Need any
                                                    help?</strong>&nbsp;&nbsp;
                                                </td>
                                                <td width="47%" align="center"><strong><a
                                                        href="mailto:info@SMAS.co.in"
                                                        style="text-decoration:none; color:#099adf; font-size:14px;">
                                                    info@SMAS.co.in</a></strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#F3F3F3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="22" align="center">© 2018 - <a href="http://SMAS.co.in"
                                                                   style="text-decoration:none; font-weight:bold; color:#423F3F">
                            SMAS</a>
                            All rights reserved.
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F3F3F3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F3F3F3">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
